/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e81b0;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 85%;
  --ifm-font-size: 85%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-background-color: #ffffff;
  --ifm-background-surface-color: #ffffff;

  --ifm-footer-color: var(--ifm-font-color-base);
  
  --ifm-navbar-background-color: var(--ifm-background-surface-color);
  --ifm-footer-background-color: var(--ifm-background-surface-color);
  
  --ifm-navbar-border-color: rgba(255,255,255,0.08);
  --ifm-footer-border-color: rgba(255,255,255,0.08);

  /* VuePress-ish content width (~740px) */
  --ifm-container-width: 1000px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1e81b0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-background-color: #020617;
  --ifm-background-surface-color: #020617;
}

.docs-doc-page .theme-layout-footer {
  display: none;
}

html {
  font-size: 14px;
}

.markdown {
  line-height: 1.60;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  letter-spacing: -0.01em;
}

.main-wrapper .container {
  max-width: var(--ifm-container-width);
}

.footer {
  --ifm-footer-background-color: var(--ifm-footer-background-color);
  border: none;
}

.navbar, .sidebar, .menu__link {
  border: none !important;
}

.theme-doc-sidebar-container {
  border-right: none !important;
}

/* Center the footer columns as a whole */
.footer__links {
  justify-content: center;
  text-align: center;
}

/* Center each column's contents */
.footer__col {
  align-items: center;
}

/* Center titles */
.footer__title {
  text-align: center;
}

/* Center individual links */
.footer__item {
  justify-content: center;
}
